<% provide(:title, 'Your profile') %>
<h1>Coordinator: <%= @user.name%></h1>

<div class="container text-center">
    <div class="col-md-6 col-md-offset-3">
        <p>
            <section class="user_info">
                <%= gravatar_for(@user,options = { size: 150 }) %>
            </section>
        </p>
        
        <div class="list-group">
        <% Course.all.each do |course| %>
            <div class="jumbotron ">
                <%= image_tag course.image.url, class:"img-circle", size:"100x100" %>
                <h3><%= link_to course.name, "#", class:"text-info"%></h3>
                <h6>Preresquisite : <%= course.prerequisite%></h6>
            </div>
        <% end %>
        </div>
    </div>
    
</div>

<!--<div class= "container">-->
    
<!--</div>-->