    <div class="row courses">
        <div class="col-md-3 col-md-offset-1">
            <%= image_tag course.image.url, class:"img-circle", size:"200x200" %>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <% if logged_in? %>
                <% if User.find(current_user.id).admin == true %>
                <div class="navbar-right">
                    <%= link_to course, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" do %>
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete this Course
                    <%end%>
                </div>
                <% end %>
            <% end %>
            
            <h3><%= link_to course.name, course_path(:id => course.id), class:"text-info"%></h3>
            <h5>Preresquisite : <%= course.prerequisite%></h5>
            <div class="cat_loc_display">
                <h5>Category: </h5>
                <% course.category_ids.each do |category_id|%>
                <%= link_to category_path(:id => category_id), class:"course_list" do %>
                <%=Category.find(category_id).name%>
                <%end%>
                <%end%>
            </div>
            <h5>Location: </h5>
            <% course.location_ids.each do |location_id|%>
                <%= link_to location_path(:id => location_id), class:"course_list" do %>
                    <%=Location.find(location_id).locationName%>
                <%end%>
            <%end%>
            <h6>Created: <%= time_ago_in_words(course.created_at)%> ago</h6>
            
            <div class= "navbar-right">
                    <% if logged_in? %>
                    <%= link_to like_rating_url(Rating.find_by(id: course.id).id), class:"btn btn-default" do%>
                        <%= Rating.find_by(id: course.id).likes%>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <%end%>
                    
                    <%= link_to dislike_rating_url(Rating.find_by(id: course.id).id), class:"btn btn-default" do%>
                        <%= Rating.find_by(id: course.id).dislikes%>
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    <%end%>
                    <%else%>
                    <button class="btn btn-default" disabled>
                        <%= Rating.find_by(id: course.id).likes%>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                    
                    <button class="btn btn-default" disabled>
                        <%= Rating.find_by(id: course.id).dislikes%>
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    </button>
                    <%end%>
            </div>
        </div>
    </div>