<h1>Courses</h1>
<div class="list-group">
    <% Course.all.each do |course| %>
        <div class="jumbotron ">
            <h3><%= link_to course.name, "#", class:"text-info"%></h3>
            <h6>Preresquisite : <%= course.prerequisite%></h6>
            <h6>Location: </h6>
            <% course.location_ids.each do |location_id|%>
                <%= Location.find(location_id).locationName%>
            <%end%>
            <h6>Created at : <%= course.created_at.strftime("%d %b. %Y")%></h6>
            
            <% if course.user_id == current_user.id %>
            <%= link_to 'edit', edit_course_path(course), class: "btn btn-success navbar-right"%>
            <% end %>
            
            <br><br><br> 
                <div class= "navbar-right">
                    
                    <%= link_to like_rating_url(Rating.find_by(id: course.id).id), class:"btn btn-default" do%>
                        <%= Rating.find_by(id: course.id).likes%>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <%end%>
                    
                    <%= link_to dislike_rating_url(Rating.find_by(id: course.id).id), class:"btn btn-default" do%>
                        <%= Rating.find_by(id: course.id).dislikes%>
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    <%end%>
                </div>
        </div>
    <% end %>
</div>