<% provide(:title, 'Create Location') %>
<h1>Create Location</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@location, url: createlocation_path) do |f| %>

      <%= f.label :building %>
      <%= f.number_field :building, class: 'form-control' %>

      <%= f.label :level %>
      <%= f.number_field :level, class: 'form-control' %>
      
      <%= f.label :room %>
      <%= f.number_field :room, class: 'form-control' %>


      <%= f.submit "Create location", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>